/* AboutUs.css */

.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
  
  .about-us-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px; /* Add margin for separation */
  }
  
  .about-us-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px; /* Add margin for separation */
  }
  
  .pet-image {
    max-height: 150px; /* Adjust the height as needed */
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Add margin for separation */
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    margin-top: 20px;
  }
  
  .contact-info h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px; /* Add margin for separation */
  }
  
  .contact-info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px; /* Add margin for separation */
  }
  