.hero-container {
  position: relative;
  background: url('./imagesSP/landscape.png') center/cover no-repeat; 
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hero-btns {
  position: absolute;
  bottom: 20px; /* Shift buttons lower */
  right: 20px; /* Shift buttons to the right */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-btns .btn {
  margin: 6px;
  font-size: 20px;
  padding: 12px 24px;
}

.hero-btns .btn--outline {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.hero-btns .btn--outline:hover {
  background-color: #fff;
  color: #000;
}

.fa-play-circle {
  margin-left: 4px;
}

.hero-container > h1 {
  color: #000000;
  font-size: 60px;
  text-align: center;
  text-shadow: 4px 4px 6px rgba(44, 83, 239, 0.5);
}

.hero-container > p {
  color: #141313;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(44, 83, 239, 0.5);
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
      font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
      font-size: 50px;
  }

  .hero-container > p {
      font-size: 30px;
  }

  .btn-mobile {
      display: block;
      text-decoration: none;
  }

  .btn {
      width: 100%;
  }
}
